<h1>Chat</h1>

<div class="row">
  <div class="chat span7">
    <ul id="ticker"></ul>
  </div>
</div>
<div class="row">
    <%= form_tag '/messages/create', remote: true, id: :form do %>
        <fieldset>
            <div class="input-append">
            <%= text_field_tag :content, '', class: :span6%>
            <%= submit_tag 'Отправить', class: :btn %>

            </div>
        </fieldset>
    <% end %>
</div>


<%= subscribe_to '/messages/new' %>
